* {
  font-family: Yanone Kaffeesatz, Orbitron, Rajdhani, sans-serif;
}

h1 {
  text-decoration-line: underline;
}

li {
  font-weight: lighter;
}

.heading {
  text-shadow: 2px 2px rgb(71, 139, 185);
  text-transform: uppercase;
}

.note {
  font-weight: bold;
}

.todo-item {
  text-decoration-line: line-through;
}
